{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mx-6 px-4" style="margin-bottom: 600px;">

    
    <div class="row mx-3" >
        {% if cart %}
        <h class="baseText" style="margin-bottom: 10px;">Корзина</h>
        <div class="col-xl-9">
            <table class="tableCart">
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td>
                            <img src="{{ item.product.image.url }}" class="card-img-top" style="height: 160px; width: 110px; display: block; "data-holder-rendered="true">
                        </td>
                        <td>
                            <a class="hrefProductText" href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                        </td>
                        <td>
                            <div class="cartQuantity">
                                {% if item.quantity > 1 %}
                                    <a href="{{ item.product.remove_one_from_cart }}" role="button" class="cartQuantityBtns">
                                        <i class="bi bi-dash"></i>
                                    </a>
                                {% else %}
                                    <a role="button" class="cartQuantityBtns">
                                        <i class="bi bi-dash"></i>
                                    </a>
                                {% endif %}
                                    <p class="cartQuantityNumber">{{ item.quantity }}</p>
                                {% if item.quantity <= item.product.stock %}
                                    <a href="{{ item.product.add_to_cart }}" role="button" class="cartQuantityBtns">
                                        <i class="bi bi-plus"></i>
                                    </a>
                                {% else %}
                                    <a role="button" class="cartQuantityBtns">
                                        <i class="bi bi-plus"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {{item.total_price}} руб
                            <p style="color: rgb(167, 163, 163); font-size: 14px;">{{item.price}} руб/шт</p>
                        </td>
                        <td class="moved">
                            <a href="#" role="button" class="btn-remove">
                                <i class="bi bi-heart"></i>
                            </a>
                            <a href="{{ item.product.remove_from_cart }}" role="button" class="btn-remove">
                                <i class="bi bi-trash3"></i>
                            </a>    
                        </td> 
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        <div class="col-xl-3" >

            

            <div class="row" style="margin-bottom: 20px; background-color:rgb(58, 50, 61); border-color: rgba(58, 50, 61, 0);height: auto;">
                <p class="descriptionText" style="padding-top: 10px;">Введите промокод</p>
                <div class="col-8">
                    <form action="{% url "coupons:apply" %}" method="post" id="Coupon">
                        {{ coupon_apply_form }}
                        
                        {% csrf_token %}
                    </form>
                </div>
                <div class="col-4">
                    <button class="btn-coupon" type="submit" form="Coupon">
                        <i style="font-size: 22px;" class="bi bi-check-lg"></i>
                    </button>
                </div>
            </div>

            {% if cart.coupon %}
            <div class="row" style="background-color:rgb(58, 50, 61); border-color: rgba(58, 50, 61, 0);height: auto;">
                <div class="col-8">
                    <p class="descriptionText" style="font-size: 14px; padding-top: 10px;">Товары ({{ cart.get_total_quantity }})</p>
                    <p class="descriptionText" style="font-size: 14px; padding-top: 10px;" align="left">"{{ cart.coupon.code }}" купон ({{ cart.coupon.discount }}%)</p>
                    <p class="descriptionText" style="font-size: 14px; padding-top: 4px;" align="left">Итого:</p>
                </div>
                <div class="col-4">
                    <p class="descriptionText" style="font-size: 14px; padding-top: 10px; margin-left:0px;" align="end">{{ cart.get_total_price }}руб</p>
                    <p class="descriptionText" style="font-size: 14px; padding-top: 10px; margin-left:0px; color:rgb(193, 68, 68)" align="end">-{{ cart.get_discount|floatformat:"2" }}руб</p>
                    <p class="descriptionText" style="font-size: 20px; margin-left:-20px;" align="end"> {{ cart.get_total_price_after_discount|floatformat:"2" }}руб</p>
                </div>
                <a href="{% url "orders:order_create" %}" type="button" class="btn-checkout"><p class="smallBaseText">Оформить заказ</p></a>
            </div>

            {% else %}

            <div class="row" style="background-color:rgb(58, 50, 61); border-color: rgba(58, 50, 61, 0);height: 140px;">
                <div class="col-4">
                    <p class="descriptionText" style="font-size: 15px; padding-top: 10px;" align="left">Товары ({{ cart.get_total_quantity }})</p>
                    <p class="descriptionText" style="font-size: 15px; padding-top: 2px;" align="left">Итого:</p>
                </div>
                <div class="col-8">
                    <p class="descriptionText" style="font-size: 15px; padding-top: 10px;" align="right">{{ cart.get_total_price }}руб</p>
                    <p class="descriptionText" style="font-size: 20px;" align="right">{{ cart.get_total_price }}руб</p>
                </div>
                <a href="{% url "orders:order_create" %}" type="button" class="btn-checkout"><p class="smallBaseText">Оформить заказ</p></a>
            </div>
            
            {% endif %}
        </div>

        {% else %}
            <h class="baseText" style="font-size:27px;">Ваша корзина пуста.
            <a class="hrefText" style="font-size:27px;" href="{% url "shop:product_list" %}">К списку товаров</a>
            </h2>
        {% endif %}
                    
    </div>
</div>
{% endblock %}