{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 row mx-4" style="margin-bottom: 400px;">
    {% if validlink %}
    <div class="col-6 mx-start">
        <h class="baseText">Восстановление пароля</h>
        
        <form action="" method="post">
            {% csrf_token %}

            <div class="form-group" style="margin-top: 15px; margin-bottom: 15px;">

                {% if form.new_password2.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ошибка!</strong>
                        <p>1. Пароли должны совпадать.</p>
                        <p>2. Пароли не могут состоять только из цифр.</p>
                        <p>3. Пароль не должен быть слишком простым.</p>
                        <label type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button></label>
                    </div>  
                {% endif %}

                <input type="password" class="userfield" name="new_password1" placeholder="Введите новый пароль">
            </div>

            <div class="form-group" style="margin-top: 15px; margin-bottom: 15px;">

                <input type="password" class="userfield" name="new_password2" placeholder="Повторите пароль">
            </div>
            <button type="submit" class="btn submit-btn" style="font-size: 16px; line-height: 30px; width: 150px;">Подтвердить</button>
            <a href="{% url 'login' %}" class="hrefText" style="margin-left: 10px;">Я вспомнил(-а) пароль!</a>
        </form>

    </div>
        {% else %}
        
        <!-- <meta http-equiv="refresh" content="20;URL={% url 'login' %}"> -->
        <div class="alert alert-danger alert-dismissible fade show" style="width: 96%" role="alert">
            <strong>Ошибка!</strong> Эта ссылка недействительна. Вы будете перенаправлены на страницу входа в кабинет покупателя.
            <label type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button></label>
        </div>  

        {% endif %}

    
</div>
{% endblock %}