{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 row mx-4" style="margin-bottom: 400px;">
  <div class="col-6 mx-start">

    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Сделано!</strong> На Ваш email отправлены инструкции по сбросу пароля.
      <label type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button></label>
    </div>

    {% if form.email.errors %}
          
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ошибка!</strong> Проверьте правильность введенных данных.
            <label type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button></label>
        </div>
        
    {% endif %}


    <h class="baseText">Вход в кабинет покупателя</h>
      <form action="{% url 'password_reset' %}"" method="post">
          {% csrf_token %}

          <div class="form-group" style="margin-top: 15px; margin-bottom: 15px;">
            <input type="email" class="userfield" name="email" placeholder="Введите ваш email">
          </div>
 
          <button type="submit" class="btn submit-btn" style="font-size: 16px; line-height: 30px; width: 200px;">Восстановить пароль</button>
          <a href="{% url 'login' %}" class="hrefText" style="margin-left: 10px;">Я вспомнил(-а) пароль!</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}