{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container mt-5 row mx-4" style="margin-bottom: 400px; width: 96%">
    <meta http-equiv="refresh" content="3;URL={% url 'login' %}">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Ваш профиль успешно создан!</strong> Вы будете перенаправлены на страницу входа в кабинет покупателя.
        <label type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button></label>
    </div>
</div>
{% endblock %}
