{% load static %}

{% if products.has_other_pages %}
<div style="margin-top: 70px; margin-bottom: 70px; margin-right: 20px;">
    <ul class="pagination justify-content-end" >
    {% if products.has_previous %}
        <li class="page-item" style="background: rgba(255, 255, 255, 0);">
            <a class="pagination" href="?page={{ products.previous_page_number }}">&laquo;</a>
        </li>
    {% else %}
    <li class="page-item disabled">
        <span class="pagination" href="#" tabindex="-1" aria-disabled="true">&laquo;</span>
    </li>
    {% endif %}
    {% for i in products.paginator.page_range %}
        {% if i > products.number|add:-4 and i < products.number|add:4 %}
            {% if products.number == i %}
                <li class="page-item active" aria-current="page">
                    <a class="paginationCurrent" href="#">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="pagination" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if products.has_next %}
        <li class="page-item">
            <a class="pagination" href="?page={{ products.next_page_number }}">&raquo;</a>
        </li>
    {% else %}
    <li class="page-item disabled">
        <span class="pagination" href="#" tabindex="-1" aria-disabled="true">&raquo;</span>
    </li>
    {% endif %}
    </ul>
</div>
{% endif %}
